@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    background-image: url('/Assets/Backgrounds/rainingBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    height: calc(100vh - 100px);
    padding: 50px;
}

body::before {
    content: "";                  /* Necessário para criar o pseudo-elemento */
    position: absolute;           /* Posiciona o pseudo-elemento absolutamente */
    top: 0;
    left: 0;
    width: 100%;                  /* Largura total */
    height: 100%;                 /* Altura total */
    background-image: url('/Assets/Backgrounds/rainingBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);           /* Aplica o desfoque */
    z-index: -1;                  /* Coloca o pseudo-elemento atrás do conteúdo */
}

.moldura {
    border: 15px solid #e2e2e2;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.header span {
    width: 5px;
    height: 38px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 20px;
}

.header h1 {
    margin: 0;
    font-family: 'Nunito';
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}

.search-bar {
    width: 700px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 520px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.search-bar input{
    font-family: 'Nunito';
    font-size: larger;
    border: none; /* Remove a borda nativa */
    outline: none; /* Remove a borda ao focar no campo */
    width: 700px;
    background-color: transparent;
}

.search-bar img {
    margin-right: 10px;
    margin-left: 20px;
}

.middle {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
    
}

.middle h1{
    margin: 0px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Nunito';
    font-size: 80px;
    padding: 10px;
}


.footer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 10px; 
    margin-top: 50px;
}

.card {
    width: 122.78px;
    height: 179.6px;
    background-color: #e5ecdf36;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px; 
    position: relative; /* Adiciona posicionamento relativo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para visualização */
}

.card .line {
    position: absolute;
    top: 65px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 100px; 
    height: 5px; 
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1; /* Garante que a linha esteja acima de outros elementos, mas abaixo do texto */
}

.card p {
    text-align: center;
    font-size: 30px;
    font-family: 'Nunito';
    color: #ffffff;
    position: relative;
    z-index: 2; /* Garante que o texto esteja acima da linha */
}

#temperature {
    font-size: 35px;
    margin: 0;
    font-weight: bolder;
    align-items: center;
}

#date {
    padding: 10px;
    margin: 0; 
    font-size: 35px;
    font-weight: bolder;
    align-items: center;
}

.background-icon {
    width: 108.21px;
    height: 79.38px;
    border-radius: 30px;
    background-color: #ffffffa1;
    display: flex; /* Adiciona display flex para centralizar a imagem */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.background-icon img {
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do contêiner */
    max-height: 100%; /* Garante que a imagem não exceda o tamanho do contêiner */
}



